In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from env import get_connection
import os
from pydataset import data



def get_titanic(get_con_func):
    
    if os.path.isfile('titanic.csv'):
        
        return pd.read_csv('titanic.csv')
    
    else:
        url = get_con_func('titanic_db')
        query = '''SELECT * FROM passengers'''
        df = pd.read_sql(query, url)
        df.to_csv('titanic.csv')
        return df

In [5]:
pd.read_excel('titanic.xlsx')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
pd.read_clipboard()

Empty DataFrame
Columns: ["https://gist.githubusercontent.com/ryanorsinger/bec2f59a9cef8ae7428cb70b3541354a/raw/ef64298da52e5d70f4d388f5fd48eccdb02ed3f1/ice_cream.csv"]
Index: []

## Exercises

In [12]:
db_iris = data('iris')
db_iris = pd.DataFrame(db_iris)
db_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [14]:
db_iris.shape

(150, 5)

In [15]:
db_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [17]:
db_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [18]:
db_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [24]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [25]:
df_google.shape

(891, 12)

In [26]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [28]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [32]:
df_google['Sex'].unique()

array(['male', 'female'], dtype=object)

In [35]:
df_google['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [36]:
df_excel = pd.read_excel('titanic.xlsx')
df_excel.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [39]:
df_excel_sample = df_excel.head(100)
df_excel_sample.shape

(100, 12)

In [45]:
df_excel_sample.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [60]:
df_excel_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  100 non-null    int64
 1   Survived     100 non-null    int64
 2   Pclass       100 non-null    int64
 3   Name         100 non-null    object
 4   Sex          100 non-null    object
 5   Age          78 non-null     float64
 6   SibSp        100 non-null    int64
 7   Parch        100 non-null    int64
 8   Ticket       100 non-null    object
 9   Fare         100 non-null    float64
 10  Cabin        20 non-null     object
 11  Embarked     99 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 9.5+ KB

In [53]:
df_excel_sample.select_dtypes(include=object).columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [66]:
df_excel_min_max = pd.DataFrame(columns=['max','min'])
df_excel_min_max['max'] = df_excel_sample.select_dtypes(exclude=object).max()
df_excel_min_max['min'] = df_excel_sample.select_dtypes(exclude=object).min()
df_excel_min_max

               max    min
PassengerId  100.0  1.000
Survived       1.0  0.000
Pclass         3.0  1.000
Age           71.0  0.830
SibSp          5.0  0.000
Parch          5.0  0.000
Fare         263.0  7.225

In [11]:
from acquire import get_titanic_data

get_titanic_data(get_connection)

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [12]:
from acquire import get_iris_data

get_iris_data(get_connection)

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa
5,5,1,6,5.4,3.9,1.7,0.4,setosa
6,6,1,7,4.6,3.4,1.4,0.3,setosa
7,7,1,8,5.0,3.4,1.5,0.2,setosa
8,8,1,9,4.4,2.9,1.4,0.2,setosa
9,9,1,10,4.9,3.1,1.5,0.1,setosa
10,10,1,11,5.4,3.7,1.5,0.2,setosa
11,11,1,12,4.8,3.4,1.6,0.2,setosa
12,12,1,13,4.8,3.0,1.4,0.1,setosa
13,13,1,14,4.3,3.0,1.1,0.1,setosa
14,14,1,15,5.8,4.0,1.2,0.2,setosa
15,15,1,16,5.7,4.4,1.5,0.4,setosa
16,16,1,17,5.4,3.9,1.3,0.4,setosa
17,17,1,18,5.1,3.5,1.4,0.3,setosa
18,18,1,19,5.7,3.8,1.7,0.3,setosa
19,19,1,20,5.1,3.8,1.5,0.3,setosa
20,20,1,21,5.4,3.4,1.7,0.2,setosa
21,21,1,22,5.1,3.7,1.5,0.4,setosa
22,22,1,23,4.6,3.6,1.0,0.2,setosa
23,23,1,24,5.1,3.3,1.7,0.5,setosa
24,24,1,25,4.8,3.4,1.9,0.2,setosa
25,25,1,26,5.0,3.0,1.6,0.2,setosa
26,26,1,27,5.0,3.4,1.6,0.4,setosa
27,27,1,28,5.2,3.5,1.5,0.2,setosa
28,28,1,29,5.2,3.4,1.4,0.2,setosa
29,29,1,30,4.7,3.2,1.6,0.2,setosa
30,30,1,31,4.8,3.1,1.6,0.2,setosa
31,31,1,32,5.4,3.4,1.5,0.4,setosa
32,32,1,33,5.2,4.1,1.5,0.1,setosa
33,33,1,34,5.5,4.2,1.4,0.2,setosa
34,34,1,35,4.9,3.1,1.5,0.2,setosa
35,35,1,36,5.0,3.2,1.2,0.2,setosa
36,36,1,37,5.5,3.5,1.3,0.2,setosa
37,37,1,38,4.9,3.6,1.4,0.1,setosa
38,38,1,39,4.4,3.0,1.3,0.2,setosa
39,39,1,40,5.1,3.4,1.5,0.2,setosa
40,40,1,41,5.0,3.5,1.3,0.3,setosa
41,41,1,42,4.5,2.3,1.3,0.3,setosa
42,42,1,43,4.4,3.2,1.3,0.2,setosa
43,43,1,44,5.0,3.5,1.6,0.6,setosa
44,44,1,45,5.1,3.8,1.9,0.4,setosa
45,45,1,46,4.8,3.0,1.4,0.3,setosa
46,46,1,47,5.1,3.8,1.6,0.2,setosa
47,47,1,48,4.6,3.2,1.4,0.2,setosa
48,48,1,49,5.3,3.7,1.5,0.2,setosa
49,49,1,50,5.0,3.3,1.4,0.2,setosa
50,50,2,51,7.0,3.2,4.7,1.4,versicolor
51,51,2,52,6.4,3.2,4.5,1.5,versicolor
52,52,2,53,6.9,3.1,4.9,1.5,versicolor
53,53,2,54,5.5,2.3,4.0,1.3,versicolor
54,54,2,55,6.5,2.8,4.6,1.5,versicolor
55,55,2,56,5.7,2.8,4.5,1.3,versicolor
56,56,2,57,6.3,3.3,4.7,1.6,versicolor
57,57,2,58,4.9,2.4,3.3,1.0,versicolor
58,58,2,59,6.6,2.9,4.6,1.3,versicolor
59,59,2,60,5.2,2.7,3.9,1.4,versicolor
60,60,2,61,5.0,2.0,3.5,1.0,versicolor
61,61,2,62,5.9,3.0,4.2,1.5,versicolor
62,62,2,63,6.0,2.2,4.0,1.0,versicolor
63,63,2,64,6.1,2.9,4.7,1.4,versicolor
64,64,2,65,5.6,2.9,3.6,1.3,versicolor
65,65,2,66,6.7,3.1,4.4,1.4,versicolor
66,66,2,67,5.6,3.0,4.5,1.5,versicolor
67,67,2,68,5.8,2.7,4.1,1.0,versicolor
68,68,2,69,6.2,2.2,4.5,1.5,versicolor
69,69,2,70,5.6,2.5,3.9,1.1,versicolor
70,70,2,71,5.9,3.2,4.8,1.8,versicolor
71,71,2,72,6.1,2.8,4.0,1.3,versicolor
72,72,2,73,6.3,2.5,4.9,1.5,versicolor
73,73,2,74,6.1,2.8,4.7,1.2,versicolor
74,74,2,75,6.4,2.9,4.3,1.3,versicolor
75,75,2,76,6.6,3.0,4.4,1.4,versicolor
76,76,2,77,6.8,2.8,4.8,1.4,versicolor
77,77,2,78,6.7,3.0,5.0,1.7,versicolor
78,78,2,79,6.0,2.9,4.5,1.5,versicolor
79,79,2,80,5.7,2.6,3.5,1.0,versicolor
80,80,2,81,5.5,2.4,3.8,1.1,versicolor
81,81,2,82,5.5,2.4,3.7,1.0,versicolor
82,82,2,83,5.8,2.7,3.9,1.2,versicolor
83,83,2,84,6.0,2.7,5.1,1.6,versicolor
84,84,2,85,5.4,3.0,4.5,1.5,versicolor
85,85,2,86,6.0,3.4,4.5,1.6,versicolor
86,86,2,87,6.7,3.1,4.7,1.5,versicolor
87,87,2,88,6.3,2.3,4.4,1.3,versicolor
88,88,2,89,5.6,3.0,4.1,1.3,versicolor
89,89,2,90,5.5,2.5,4.0,1.3,versicolor
90,90,2,91,5.5,2.6,4.4,1.2,versicolor
91,91,2,92,6.1,3.0,4.6,1.4,versicolor
92,92,2,93,5.8,2.6,4.0,1.2,versicolor
93,93,2,94,5.0,2.3,3.3,1.0,versicolor
94,94,2,95,5.6,2.7,4.2,1.3,versicolor
95,95,2,96,5.7,3.0,4.2,1.2,versicolor
96,96,2,97,5.7,2.9,4.2,1.3,versicolor
97,97,2,98,6.2,2.9,4.3,1.3,versicolor
98,98,2,99,5.1,2.5,3.0,1.1,versicolor
99,99,2,100,5.7,2.8,4.1,1.3,versicolor
100,100,3,101,6.3,3.3,6.0,2.5,virginica
101,101,3,102,5.8,2.7,5.1,1.9,virginica
102,102,3,103,7.1,3.0,5.9,2.1,virginica
103,103,3,104,6.3,2.9,5.6,1.8,virginica
104,104,3,105,6.5,3.0,5.8,2.2,virginica
105,105,3,106,7.6,3.0,6.6,2.1,virginica
106,106,3,107,4.9,2.5,4.5,1.7,virginica
107,107,3,108,7.3,2.9,6.3,1.8,virginica
108,108,3,109,6.7,2.5,5.8,1.8,virginica
109,109,3,110,7.2,3.6,6.1,2.5,virginica
110,110,3,111,6.5,3.2,5.1,2.0,virginica
111,111,3,112,6.4,2.7,5.3,1.9,virginica
112,112,3,113,6.8,3.0,5.5,2.1,virginica
113,113,3,114,5.7,2.5,5.0,2.0,virginica
114,114,3,115,5.8,2.8,5.1,2.4,virginica
115,115,3,116,6.4,3.2,5.3,2.3,virginica
116,116,3,117,6.5,3.0,5.5,1.8,virginica
117,117,3,118,7.7,3.8,6.7,2.2,virginica
118,118,3,119,7.7,2.6,6.9,2.3,virginica
119,119,3,120,6.0,2.2,5.0,1.5,virginica
120,120,3,121,6.9,3.2,5.7,2.3,virginica
121,121,3,122,5.6,2.8,4.9,2.0,virginica
122,122,3,123,7.7,2.8,6.7,2.0,virginica
123,123,3,124,6.3,2.7,4.9,1.8,virginica
124,124,3,125,6.7,3.3,5.7,2.1,virginica
125,125,3,126,7.2,3.2,6.0,1.8,virginica
126,126,3,127,6.2,2.8,4.8,1.8,virginica
127,127,3,128,6.1,3.0,4.9,1.8,virginica
128,128,3,129,6.4,2.8,5.6,2.1,virginica
129,129,3,130,7.2,3.0,5.8,1.6,virginica
130,130,3,131,7.4,2.8,6.1,1.9,virginica
131,131,3,132,7.9,3.8,6.4,2.0,virginica
132,132,3,133,6.4,2.8,5.6,2.2,virginica
133,133,3,134,6.3,2.8,5.1,1.5,virginica
134,134,3,135,6.1,2.6,5.6,1.4,virginica
135,135,3,136,7.7,3.0,6.1,2.3,virginica
136,136,3,137,6.3,3.4,5.6,2.4,virginica
137,137,3,138,6.4,3.1,5.5,1.8,virginica
138,138,3,139,6.0,3.0,4.8,1.8,virginica
139,139,3,140,6.9,3.1,5.4,2.1,virginica
140,140,3,141,6.7,3.1,5.6,2.4,virginica
141,141,3,142,6.9,3.1,5.1,2.3,virginica
142,142,3,143,5.8,2.7,5.1,1.9,virginica
143,143,3,144,6.8,3.2,5.9,2.3,virginica
144,144,3,145,6.7,3.3,5.7,2.5,virginica
145,145,3,146,6.7,3.0,5.2,2.3,virginica
146,146,3,147,6.3,2.5,5.0,1.9,virginica
147,147,3,148,6.5,3.0,5.2,2.0,virginica
148,148,3,149,6.2,3.4,5.4,2.3,virginica
149,149,3,150,5.9,3.0,5.1,1.8,virginica

In [4]:
from acquire import get_telco_data

get_telco_data(get_connection)

,Unnamed: 0,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.60,593.3,No,DSL,One year,Mailed check
1,1,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.90,542.4,No,DSL,Month-to-month,Mailed check
2,2,1,1,2,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.90,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Fiber optic,Month-to-month,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,2,2,1,9987-LUTYD,Female,0,No,No,13,...,Yes,No,No,No,55.15,742.9,No,DSL,One year,Mailed check
7039,7039,1,1,2,9992-RRAMN,Male,0,Yes,No,22,...,No,No,Yes,Yes,85.10,1873.7,Yes,Fiber optic,Month-to-month,Electronic check
7040,7040,2,1,1,9992-UJOEL,Male,0,No,No,2,...,No,No,No,Yes,50.30,92.75,No,DSL,Month-to-month,Mailed check
7041,7041,2,3,1,9993-LHIEB,Male,0,Yes,Yes,67,...,Yes,No,Yes,No,67.85,4627.65,No,DSL,Two year,Mailed check
7042,7042,1,3,1,9995-HOTOH,Male,0,Yes,Yes,63,...,No,Yes,Yes,No,59.00,3707.6,No,DSL,Two year,Electronic check