1. bottom left
2. top right
3. the model is accurate 80% of the time

In [71]:
tp = 46
tn = 34
fp = 13
fn = 7

In [72]:
accuracy = (tp + tn) / (tp+tn+fn+fp)
precision = (tp) / (tp+fp)
recall = tp / (tp+fn)

In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [74]:
df = pd.read_csv('c3.csv')
df.head(20)

       actual     model1     model2     model3
0   No Defect  No Defect     Defect  No Defect
1   No Defect  No Defect     Defect     Defect
2   No Defect  No Defect     Defect  No Defect
3   No Defect     Defect     Defect     Defect
4   No Defect  No Defect     Defect  No Defect
5   No Defect  No Defect  No Defect     Defect
6   No Defect  No Defect  No Defect  No Defect
7   No Defect  No Defect     Defect  No Defect
8   No Defect  No Defect  No Defect  No Defect
9   No Defect  No Defect  No Defect     Defect
10  No Defect  No Defect     Defect  No Defect
11  No Defect  No Defect  No Defect  No Defect
12  No Defect  No Defect  No Defect  No Defect
13     Defect  No Defect     Defect     Defect
14  No Defect  No Defect  No Defect  No Defect
15  No Defect  No Defect     Defect  No Defect
16  No Defect  No Defect  No Defect     Defect
17  No Defect  No Defect  No Defect  No Defect
18  No Defect  No Defect  No Defect     Defect
19  No Defect  No Defect     Defect     Defect

In [75]:
model1_acc = (df.model1 == df.actual).mean()
model2_acc = (df.model2 == df.actual).mean()
model3_acc = (df.model3 == df.actual).mean()

print(model1_acc)
print(model2_acc)
print(model3_acc)

0.95
0.56
0.555

In [76]:
subset = df[df['actual']=='Defect']

model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()

print(model1_recall)
print(model2_recall)
print(model3_recall)

# the best way to determine number of defects and have the recalled is use the Recall metric
# model 3 has the highest recall

0.5
0.5625
0.8125

In [91]:
subset1 = df[df['model1']=='Defect']
subset2 = df[df['model2']=='Defect']
subset3 = df[df['model3']=='Defect']

model1_prec = (subset1.model1 == subset1.actual).mean()
model2_prec = (subset2.model2 == subset2.actual).mean()
model3_prec = (subset3.model3 == subset3.actual).mean()

print(model1_prec)
print(model2_prec)
print(model3_prec)

# the best way to determine which ducks were defects and 
# which ones to send on the vacation would be the Precision metric
# model 1 has the highest precision

0.8
0.1
0.13131313131313133

In [78]:
df1 = pd.read_csv('gives_you_paws.csv')
df1.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [79]:
df1['actual'].value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [80]:
df1['base'] = 'dog'
df1.head()

  actual model1 model2 model3 model4 base
0    cat    cat    dog    cat    dog  dog
1    dog    dog    cat    cat    dog  dog
2    dog    cat    cat    cat    dog  dog
3    dog    dog    dog    cat    dog  dog
4    cat    cat    cat    dog    dog  dog

In [81]:
model1_acc = (df1.model1 == df1.actual).mean()
model2_acc = (df1.model2 == df1.actual).mean()
model3_acc = (df1.model3 == df1.actual).mean()
model4_acc = (df1.model4 == df1.actual).mean()
baseline = (df1.base == df1.actual).mean()

print(model1_acc)
print(model2_acc)
print(model3_acc)
print(model4_acc)
print(baseline)

# Models 1 and 4 have the highest accuracy and both are above the baseline

0.8074
0.6304
0.5096
0.7426
0.6508

In [92]:
subset = df1[df1['actual']=='dog']

model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
model4_recall = (subset.model4 == subset.actual).mean()

print(model1_recall)
print(model2_recall)
print(model3_recall)
print(model4_recall)

# the best model when dealing with only dog pics would be model 4 which has a Recall of 95.57

0.803318992009834
0.49078057775046097
0.5086047940995697
0.9557467732022127

In [93]:
subset = df1[df1['actual']=='cat']

model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
model4_recall = (subset.model4 == subset.actual).mean()

print(model1_recall)
print(model2_recall)
print(model3_recall)
print(model4_recall)

# the best model when dealing with only cat pics would be model 2 which has a Recall of 89.06

0.8150057273768614
0.8906071019473081
0.5114547537227949
0.34536082474226804

In [84]:
from sklearn.metrics import accuracy_score

print('Model 1 accuracy: ', accuracy_score(df1['actual'], df1['model1']))
print('Model 2 accuracy: ', accuracy_score(df1['actual'], df1['model2']))
print('Model 3 accuracy: ', accuracy_score(df1['actual'], df1['model3']))
print('Model 4 accuracy: ', accuracy_score(df1['actual'], df1['model4']))

Model 1 accuracy:  0.8074
Model 2 accuracy:  0.6304
Model 3 accuracy:  0.5096
Model 4 accuracy:  0.7426

In [85]:
from sklearn.metrics import precision_score

print('Model 1 precision: ', precision_score(df1['actual'], df1['model1'], pos_label='dog'))
print('Model 2 precision: ', precision_score(df1['actual'], df1['model2'], pos_label='dog'))
print('Model 3 precision: ', precision_score(df1['actual'], df1['model3'], pos_label='dog'))
print('Model 4 precision: ', precision_score(df1['actual'], df1['model4'], pos_label='dog'))

Model 1 precision:  0.8900238338440586
Model 2 precision:  0.8931767337807607
Model 3 precision:  0.6598883572567783
Model 4 precision:  0.7312485304490948

In [86]:
from sklearn.metrics import recall_score

print('Model 1 recall: ', recall_score(df1['actual'], df1['model1'], pos_label='dog'))
print('Model 2 recall: ', recall_score(df1['actual'], df1['model2'], pos_label='dog'))
print('Model 3 recall: ', recall_score(df1['actual'], df1['model3'], pos_label='dog'))
print('Model 4 recall: ', recall_score(df1['actual'], df1['model4'], pos_label='dog'))

Model 1 recall:  0.803318992009834
Model 2 recall:  0.49078057775046097
Model 3 recall:  0.5086047940995697
Model 4 recall:  0.9557467732022127

In [87]:
from sklearn.metrics import classification_report

print(classification_report(df1['actual'], df1['model1']))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [88]:
print(classification_report(df1['actual'], df1['model2']))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [89]:
print(classification_report(df1['actual'], df1['model3']))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [90]:
print(classification_report(df1['actual'], df1['model4']))

              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000